<div *ngIf="celebrity">
<ng-template [ngTemplateOutlet]="loadTemplate()"></ng-template>
</div>

<ng-template #readonlyTemplate>
    <input type="button" value="Edit" (click)="onEdit()">
    <h4>{{celebrity.name}}</h4>
    <div>{{celebrity.info}}</div>
    <div>Trained: {{celebrity.trained}}</div>
    <img  class="images" src="data:image/jpeg;base64,{{celebrity.avatarImage}}"/>
</ng-template>

<ng-template #editTemplate>
<form [formGroup]="celebrityForm" (ngSubmit)="submit()">
    <div>
        <label>Name</label>
        <input formControlName="celebrityName" required/>        
    </div>
    <div class="errors form-errors" *ngIf="celebrityForm.controls.celebrityName.errors">
        <p *ngIf="celebrityForm.controls.celebrityName.errors.required">Please enter a celebrity name</p>
        <p *ngIf="celebrityForm.controls.celebrityName.errors.uniqueCelebrityName">
            {{celebrityForm.controls.celebrityName.errors.uniqueCelebrityName.errorMessage}}
        </p>
    </div>
    <div>
        <label>Info</label>
        <textarea formControlName="celebrityInfo"></textarea>
    </div>
    <div>
    <label>Avatar</label>
    <file-upload formControlName="celebrityAvatar"></file-upload>
    </div>
    <div class="errors form-errors" *ngIf="celebrityForm.controls.celebrityAvatar.errors">
        <p *ngIf="celebrityForm.controls.celebrityAvatar.errors.forbiddenFileType">
            {{celebrityForm.controls.celebrityAvatar.errors.forbiddenFileType.errorMessage}}</p>
        <p *ngIf="celebrityForm.controls.celebrityAvatar.errors.exceedingFileSize">
            {{celebrityForm.controls.celebrityAvatar.errors.exceedingFileSize.errorMessage}}</p>  
    </div>
    <button type="submit" [disabled]="!celebrityForm.valid">Save</button>
    <input type="button" value="Cancel" (click)="onCancel()">
</form>
</ng-template>