<div>
    <p>Here is a page where you can manage celebrities. To add a new one click on Add button.</p>
    <p>Then you need to train the celebrity in order the system could recognize the face.</p>
    <p>Trainig can be perfomed immediately after adding the celebrity or later from the grid or from Details page.</p>
    </div>
<button (click)="goToAddCelebrity()">Add</button>
<table class="table table-striped">
    <thead>
        <tr>
            <td>Name</td>
            <td>Info</td>
            <td>Trained</td>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let celebrity of celebrities">
            <td>{{celebrity.name}}</td>
            <td>{{celebrity.info}}</td>
            <td>{{celebrity.trained}}</td>
            <td>
                <button (click)="goToDetails(celebrity.id)">Details</button>
            </td>              
            <td>
                <button mat-button (click)="confirmDeleting(celebrity.id)">Delete</button>
            </td>
            <td>
                <button>Train</button>
            </td>
        </tr>
    </tbody>
</table>